{% extends "base.html" %}
{% block title %}
Home
{% endblock %}


{% block content %}

<h1>This is the home!</h1>
Tweet_number:{{tweets_number}}
{% for tweet in tweets_list %}
<p>
    <a href="{% url 'accounts:user_profile' tweet.user.username %}">{{tweet.user}}</a><br>
    {{ tweet.title }}<br>
    {{ tweet.content}}<br>
    {{ tweet.created_at }}
    <a>Like: <span id="ajax-like-count-{{tweet.number}}">{{tweet.n_liked }}</span></a>
    {% if tweet.liked %}
        <button id="ajax-like-{{tweet.number}}" data-url='/tweets/{{tweet.id}}/unlike/'>UnLike</button>
    {% else %}
        <button id="ajax-like-{{tweet.number}}" data-url='/tweets/{{tweet.id}}/like/'>Like</button>
    {% endif %}
    <a href="/tweets/{{tweet.id}}">Detail</a>
</p>
{% endfor %}
{% endblock %}
{% block extlascripts %}
<script>
    {% for tweet in tweets_list %}
        document.getElementById(`ajax-like-{{tweet.number}}`).addEventListener("click",e=>{
        e.preventDefault();
        const url = document.getElementById(`ajax-like-{{tweet.number}}`).dataset.url;
        fetch(
            url,{
                method:"POST",
                body:`pk={{tweet.id}}`,
                headers:{
                    'Content-Type':'application/x-www-form-urlencoded; charset=utf-8',
                    'X-CSRFToken':`{{ csrf_token }}`
                }
                }
        ).then(
            response=>{
                return response.json();
            }
        ).then(
            response=>{
            console.log(response)
            count = document.getElementById(`ajax-like-count-{{tweet.number}}`);
            console.log(count)
            count.textContent = response.n_liked;
            console.log('not error')
            if (response.liked == true){
                document.getElementById(`ajax-like-{{tweet.number}}`).textContent = 'UnLike';
                document.getElementById(`ajax-like-{{tweet.number}}`).dataset.url ='/tweets/{{tweet.id}}/unlike/'
            }else{
                document.getElementById(`ajax-like-{{tweet.number}}`).textContent = 'Like';
                document.getElementById(`ajax-like-{{tweet.number}}`).dataset.url ='/tweets/{{tweet.id}}/like/'
            }
        }
        );
    });
{% endfor %}

</script>
{% endblock %}
